dist/
.idea/
.vscode/
coverage.txt
internal/schemas/.terraform/
internal/schemas/.terraform.lock.hcl
internal/schemas/*log*
internal/schemas/providers.tf
internal/schemas/schemas_gen.go
internal/schemas/data/
terraform-ls
commands/.temp

# never upload the build to git
armstrong
armstrong.exe

# test output
coverage/testdata/test_coverage_report*.md
coverage/testdata/index.json
